<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayingWithFourMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C69790B1C8DEA81008FCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C69791F1C8DEA81008FCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C69792A1C8DEA81008FCF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
